<!DOCTYPE html>
<html>
  <body>
    <h1>Fuel Quote History</h1>
    <table border="2">
      <tr>
        <td>User Name</td>
        <td>Gallon Requested</td>
        <td>Delivery Address</td>
        <td>Delivery Date</td>
        <td>Suggested Price</td>
        <td>Total Amount Due</td>

      </tr>
      <tr>
        <td>client 1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>client 2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>client 3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>client 4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>client 5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>


    </table>




  </body>

</html>